body {
  margin: 0%;
  padding: 0%;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

#wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden; }

.center_width {
  width: 80%;
  margin: 0% auto; }

header {
  background: #2d2d2d;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 25;
  color: #fff; }

nav#mainNav {
  text-align: center; }
  nav#mainNav ul {
    margin: 0%;
    padding: 0%; }
  nav#mainNav li {
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    padding: 3% 2%; }
  nav#mainNav a {
    color: #fff;
    display: block;
    position: relative; }

.header_div {
  width: 50%;
  margin: 0 auto; }

.slider_full_image img {
  width: 100%;
  height: 660px; }

.slider_section {
  position: relative; }

.slider_text {
  position: absolute;
  top: 42%;
  left: 37%; }

.element, .typed-cursor {
  font-size: 32px;
  color: #fff;
  font-weight: 600; }

.i_span {
  font-size: 56px;
  color: #fff;
  font-weight: 600; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/******* About Me ******/
.about, .skill, .quotes, .project, .contact {
  padding: 3% 0% 2%;
  width: 84%;
  margin: 0% auto;
  position: relative; }

.about_heading_div {
  text-align: center; }

.about_heading_div h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0%; }

.profile_img img {
  width: 210px;
  height: 200px;
  border-radius: 50%; }

.profile_img {
  width: 19%;
  margin: 3% auto;
  border-radius: 50%;
  position: relative; }

.profile_img::before {
  border-top: 1px solid #EFEFEF;
  content: "";
  display: block;
  position: absolute;
  top: 100px;
  width: 250px;
  z-index: 0;
  left: 50%;
  margin-left: 130px; }

.profile_img::after {
  border-top: 1px solid #EFEFEF;
  content: "";
  display: block;
  position: absolute;
  top: 100px;
  width: 250px;
  z-index: 0;
  margin-right: 130px;
  position: absolute;
  right: 50%; }

.ico a {
  background: #2D2D2D;
  border: 10px solid #FFFFFF;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #fff;
  display: block;
  font-size: 15px;
  height: 60px;
  line-height: 40px;
  margin: 0 auto;
  width: 60px;
  text-align: center; }

.cv_side {
  position: absolute;
  top: 43%;
  left: 25%; }

.cv_text h4 {
  margin: 0%; }

.follow_side {
  position: absolute;
  top: 43%;
  right: 25%; }

.divider {
  margin: 5% auto 0;
  position: relative;
  text-align: center;
  width: 50%; }

.divider span::before {
  border-bottom: 1px dashed #EFEFEF;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 0; }

.divider span i {
  background: #FFFFFF;
  color: #2d2d2d;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  z-index: 1; }

/********** skill ***********/
.innerTitle, .motivated_div, .project_heading {
  text-align: center;
  margin-top: 3%; }

.innerTitle h1, .motivated_div h1, .project_heading h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #2d2d2d;
  margin: 0%; }

.innerTitle p, .motivated_div p, .project_heading p {
  font-size: 14px; }

.logo_d {
  text-align: center; }
  .logo_d i {
    font-size: 100px; }

.logo_d img {
  width: 27%; }

.skill_4 {
  margin: 2% 0%; }

.preload-juggle {
  height: 250px;
  width: 25%;
  margin: 0 auto;
  background: transparent url("../image/juggling.gif") no-repeat;
  background-position: 50% 100%;
  border-bottom: 2px solid #dcdcdc; }
  .preload-juggle div {
    position: absolute;
    margin-top: 83.33333px;
    margin-left: 125px;
    animation: juggle 2.1s linear infinite; }
    .preload-juggle div img {
      width: 40px; }
  .preload-juggle div:nth-child(1) {
    animation-delay: -0.7s; }
  .preload-juggle div:nth-child(2) {
    animation-delay: -1.4s; }

@keyframes juggle {
  0% {
    transform: translateX(0px) translateY(0px); }
  12.5% {
    transform: translateX(40px) translateY(-82px) scale(1.1); }
  25% {
    transform: translateX(80px) translateY(0px);
    animation-timing-function: ease-out; }
  37.5% {
    transform: translateX(40px) translateY(82px); }
  50% {
    transform: translateX(0px) translateY(0px); }
  62.5% {
    transform: translateX(-40px) translateY(-82px) scale(1.1);
    animation-timing-function: ease-in; }
  75% {
    transform: translateX(-80px) translateY(0px);
    animation-timing-function: ease-out; }
  87.5% {
    transform: translateX(-40px) translateY(82px); }
  100% {
    transform: translateX(0px) translateY(0px); } }
/********* quotes ************/
.quote_slider_div .bx-wrapper .bx-viewport {
  left: 0px; }

/************ projects **********/
.toogle {
  width: 45%;
  margin: 3% auto 2%; }

[data-am-toggle-switch] {
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  [data-am-toggle-switch] input {
    position: fixed;
    top: -9999px;
    left: -9999px; }
    [data-am-toggle-switch] input:checked + label {
      background-color: #fb3434; }
      [data-am-toggle-switch] input:checked + label:before {
        margin-left: 40px; }
      [data-am-toggle-switch] input:checked + label:after {
        left: -20px; }
  [data-am-toggle-switch] label {
    width: 80px;
    height: 40px;
    background-color: #3fcfef;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    border-radius: 40px;
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease; }
    [data-am-toggle-switch] label:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -1px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      z-index: 20;
      -webkit-transition: margin-left 0.2s ease;
      -moz-transition: margin-left 0.2s ease;
      -o-transition: margin-left 0.2s ease;
      transition: margin-left 0.2s ease; }
    [data-am-toggle-switch] label:after {
      content: "";
      display: block;
      width: 80px;
      height: 40px;
      background-color: #fb3434;
      position: absolute;
      left: calc(-100% + 20px);
      top: 0;
      z-index: 10;
      -webkit-transition: left 0.2s ease;
      -moz-transition: left 0.2s ease;
      -o-transition: left 0.2s ease;
      transition: left 0.2s ease; }

.pro_projects, .per_project {
  padding: 0%; }
  .pro_projects img, .per_project img {
    width: 100%;
    height: 350px;
    border: 1px solid #dcdcdc;
    margin-bottom: 7%; }

.projects_div {
  overflow: hidden;
  height: auto; }

/***************contact me**********/
.contact_heading {
  text-align: center; }

.form_div {
  width: 72%;
  margin: 5% auto 3%; }

#name, #email {
  height: 45px;
  width: 29%;
  border: 1px solid #dcdcdc;
  padding: 1%;
  margin-right: 6%;
  margin-bottom: 3%; }

#contact_no {
  height: 45px;
  width: 29%;
  border: 1px solid #dcdcdc;
  padding: 1%;
  margin-bottom: 3%; }

#message {
  height: 180px;
  width: 100%;
  border: 1px solid #dcdcdc;
  padding: 1%;
  margin-bottom: 3%; }

#thank_you_msg {
  position: absolute;
  top: 45%;
  left: 37%;
  box-shadow: 0px 0px 6px #dcdcdc;
  padding: 1% 2% 2%;
  display: none; }

#submit {
  font-size: 20px;
  text-align: center;
  cursor: pointer; }

/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
