body {
  margin: 0%;
  padding: 0%; 
}

a{
	text-decoration:none;
}

$white-color: #fff;
$font-14: 14px;

#wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden; 
  overflow-y: hidden;
}

.center_width{
  width:80%;
  margin:0% auto;
}

header {
    background: #2d2d2d;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 25;
    color: $white-color;
}

nav#mainNav {
	
  text-align:center;

  ul{
    margin:0%;
    padding:0%;
  }

	li{
	font-size:$font-14;
	display:inline-block;
	text-transform:uppercase;
  padding: 3% 2%;
}

	a{
	color: $white-color;
	display: block;
	position: relative;
}

}

.header_div{
  width:50%;
  margin:0 auto;
}
  
.slider_full_image img{
  width:100%;
  height: 660px;
}  

.slider_section{
  position:relative;
}

.slider_text{
  position:absolute;
  top:42%;
  left:37%;
}

.element{
  font-size:32px;
  color: $white-color;
  font-weight:600;  
}

.i_span{
  font-size:56px;
  color: $white-color;
  font-weight:600;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    @extend .element;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/******* About Me ******/
.about{
  padding: 3% 0% 2%;
  width: 84%;
  margin: 0% auto;
  position: relative;
}
.about_heading_div{
  text-align:center;
}
.about_heading_div h1{
  font-size:40px;
  font-weight:600;
  margin:0%;
}
.profile_img img{
  width:210px;
  height:200px;
  border-radius:50%;
}
.profile_img{
  width: 19%;
  margin: 3% auto;
  border-radius: 50%;
  position: relative;
}

@mixin profile_line{
    border-top: 1px solid #EFEFEF;
    content: "";
    display: block;
    position: absolute;
    top: 100px;
    width: 250px;
    z-index: 0;
}
.profile_img::before {
    @include profile_line;
    left: 50%;
    margin-left: 130px;
}

.profile_img::after {
    @include profile_line;
    margin-right: 130px;
    position: absolute;
    right: 50%;
}

.ico a {
    background: #2D2D2D;
    border: 10px solid #FFFFFF;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: $white-color;
    display: block;
    font-size: 15px;
    height: 60px;
    line-height: 40px;
    margin: 0 auto;
    width: 60px;
    text-align: center;
}

.cv_side{
  position: absolute;
  top: 43%;
  left: 25%;
}

.cv_text h4{
  margin:0%;
}

.follow_side{
  position: absolute;
  top: 43%;
  right: 25%;
}

.divider {
    margin: 5% auto 0; 
    position: relative;
    text-align: center;
    width: 50%;
}

.divider span::before {
    border-bottom: 1px dashed #EFEFEF;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 0;
}

.divider span i {
    background: #FFFFFF;
    color: #2d2d2d;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    z-index: 1;
}   

/********** skill ***********/
.innerTitle {
    text-align: center;
    margin-top: 3%;
}
.innerTitle h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #2d2d2d;
    margin: 0%;
}
.innerTitle p {
    font-size: $font-14;
}
.skill{
  @extend .about;
}
.logo_d{
  text-align:center;
  i{
    font-size:100px;
  }
}
.logo_d{
  img{
    width:27%;
  }
}
.skill_4{
  margin:2% 0%;
}

$boxWidth: 250px;
$translateX: 80px;
$translateY: 82px;
$time: 2.1s;
$scale: 1.1;
 
.preload-juggle {
  height: $boxWidth;
  width: 25%;
  margin: 0 auto;
  background: transparent url('../image/juggling.gif')no-repeat;
  background-position: 50% 100%;
  border-bottom:2px solid #dcdcdc;
  
  div {
    position: absolute;
    margin-top: $boxWidth/3;
    margin-left: $boxWidth/2;
    animation: juggle $time linear infinite;

    img{
      width:40px; 
    }
  }
  
  div:nth-child(1) {
    animation-delay: -$time/3;
  }
  
  div:nth-child(2) {
    animation-delay: -$time/1.5;
  }
  
} 
 
@keyframes juggle {
  0% { 
    transform: translateX(0px) translateY(0px); 
  }
  12.5% { 
    transform: translateX($translateX/2) translateY(-$translateY) scale($scale);
   }
  25% { 
    transform: translateX($translateX) translateY(0px) ; 
    animation-timing-function: ease-out;  }
  37.5% { 
    transform: translateX($translateX/2) translateY($translateY);  
  }
  50% { 
    transform: translateX(0px) translateY(0px);
  }
  62.5% { 
    transform: translateX(-$translateX/2) translateY(-$translateY) scale($scale); 
    animation-timing-function: ease-in;
  }
  75% { 
    transform: translateX(-$translateX) translateY(0px); 
    animation-timing-function: ease-out;
  }
  87.5% { 
    transform: translateX(-$translateX/2) translateY($translateY);
  }
  100% { 
    transform: translateX(0px) translateY(0px); 
  }
}

/********* quotes ************/
.motivated_div{
  @extend .innerTitle;
}
.quotes{
  @extend .skill;
}
.quote_slider_div{
  .bx-wrapper{
    .bx-viewport{
      left:0px;
    }
  }
}

/************ projects **********/
.project_heading{
  @extend .innerTitle;
}
.project{
  @extend .skill;
}

.toogle{
  width:45%;
  margin:3% auto 2%;
}

//NOTE: Change these variables in order to change the toggle switch's appearance
$input-size:         80px;
$color-bg-inactive:  #3fcfef;
$color-bg-active:    #fb3434;
$color-round:        #fff;
$color-border:       #ddd;
$color-label:       #000;
$border-width:    1px;

[data-am-toggle-switch] {
  text-transform: uppercase;
  color: $color-label;
  font-size: ($input-size / 5);
  cursor: default;
  -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
        user-select: none;
  input {
    position: fixed;
    top: -9999px;
    left: -9999px;
    &:checked {
      + label {
        background-color: $color-bg-active;
        &:before {
          margin-left: ($input-size / 2);
        }
        &:after {
          left: -20px;
        }
      }
    }
  }
  label {
    width: $input-size;
    height: ($input-size / 2);
    background-color: $color-bg-inactive;
    border: $border-width solid $color-border;
    display: inline-block;
    vertical-align: middle;
    border-radius: ($input-size / 2);
    position: relative;
    margin-left: ($input-size / 10);
    margin-right: ($input-size / 10);
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
        -o-transition: background-color 0.2s ease;
          transition: background-color 0.2s ease;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -1px;
      width: ($input-size / 2);
      height: ($input-size / 2);
      border-radius: 50%;
      background-color: $color-round;
      box-shadow: 0 0 4px rgba(0,0,0,0.3);
      z-index: 20;
      -webkit-transition: margin-left 0.2s ease;
        -moz-transition: margin-left 0.2s ease;
          -o-transition: margin-left 0.2s ease;
            transition: margin-left 0.2s ease;
    }
    &:after {
      content: "";
      display: block;
      width: $input-size;
      height: ($input-size / 2);
      background-color: $color-bg-active;
      position: absolute;
      left: calc(-100% + 20px);
      top: 0;
      z-index: 10;
      -webkit-transition: left 0.2s ease;
        -moz-transition: left 0.2s ease;
          -o-transition: left 0.2s ease;
            transition: left 0.2s ease; 
    }
  }
}

.pro_projects{
  padding:0%;
  img{
    width:100%;
    height:350px;
    border:1px solid #dcdcdc;
    margin-bottom:7%;
  }
}
.per_project{
  @extend .pro_projects;
}
.projects_div{
  overflow:hidden;
  height:auto;
}

/***************contact me**********/
.contact_heading{
  text-align:center;
}
.contact{
  @extend .project;
}
.form_div{
  width:72%;
  margin: 5% auto 3%;
}
#name{
  height: 45px;
  width: 29%;
  border: 1px solid #dcdcdc;
  padding: 1%;
  margin-right: 6%;
  margin-bottom:3%;
}
#email{
  @extend #name;
}
#contact_no{
  height:45px;
  width:29%;
  border:1px solid #dcdcdc;
  padding: 1%;
  margin-bottom:3%;
}
#message{
  height: 180px;
  width: 100%;
  border: 1px solid #dcdcdc;
  padding: 1%;
  margin-bottom: 3%;
}
#submit{
  font-size:45px;
  text-align:center;
  width:100%;
  cursor:pointer;
}

/*# sourceMappingURL=style.scss.map */
